# Análisis Exploratorio y Visu

In [1]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

## UFO Sightings

In [2]:
ufos = pd.read_csv('/Users/ignacio.iglesias/Dev/datos/gradience/Análisis Exploratorio y Visu/ufo-sightings/scrubbed.csv')
ufos.head()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [3]:
#ufos.sort_values(['duration (seconds)'], ascending=False).head()
#ufos['duration (seconds)']
#ufos.sort_values('duration (seconds)', ascending=False).head()
type(ufos['duration (seconds)'])

pandas.core.series.Series

```ufos['duration (seconds)']``` tiene distintos tipos de datos
creo una nueva columna ```ufos['duration']``` donde convierto los valores a float

In [4]:
ufos['duration'] = pd.to_numeric(ufos['duration (seconds)'], errors='coerce', downcast='float')
#ufos['duration'].isnull().values.any()
ufos['duration'].isnull().values.any()

True

Ajusto los valores ```NaN```

In [5]:
ufos['duration'].fillna(0, inplace=True)
ufos['duration'].isnull().values.any()

False

In [6]:
ufos.sort_values('duration', ascending=False).head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,duration
559,10/1/1983 17:00,birmingham (uk/england),NaN,gb,sphere,97836000,31 years,Firstly&#44 I was stunned and stared at the ob...,4/12/2013,52.466667,-1.916667,97836000.0
53384,6/3/2010 23:30,ottawa (canada),on,ca,other,82800000,23000hrs,((HOAX??)) I was out in a field near mil&#44 ...,7/6/2010,45.416667,-75.700000,82800000.0
74660,9/15/1991 18:00,greenbrier,ar,us,light,6.6276e+07,21 years,Orange or amber balls or orbs of light multipl...,3/31/2008,35.2339,-92.387500,66276000.0
64390,8/10/2012 21:00,finley,wa,us,light,52623200,2 months,There have been several flying objects in a pe...,8/19/2012,46.1541667,-119.032778,52623200.0
38261,4/2/1983 24:00,dont know,NaN,NaN,NaN,52623200,2 months,Hi&#44 I&#8217;m writing to you because I wan...,7/25/2004,41.730561,-78.682099,52623200.0

In [14]:
#ufos[(ufos['datetime'] > '2005-01-01') & (ufos['datetime'] < '2010-12-31')]
ufos['datetime'].isnull().values.any()

False

In [16]:
# Convierto los strings a Datetime y los errores a NaT
ufos['date'] = pd.to_datetime(ufos['datetime'], errors='coerce', format='%Y/%m/%d')

In [17]:
ufos['date'].isnull().values.any()

True

In [18]:
ufos['date'].fillna(pd.to_datetime('2018-03-25'), inplace=True)

In [19]:
ufos['date'].isnull().values.any()

False

In [24]:
ufos[(ufos['date'] >= '2018-03-25') & (ufos['date'] <= '2018-03-25')].shape

(80332, 13)

In [27]:
ufos[ufos['city'].str.contains("washington|dc", na=False)].shape

(216, 13)

Entre los avistajes registrados en Washington, DC, las formas mas populares son luz, esfera y bola de fuego.

In [102]:
#ufos[ufos['city'].str.contains("washington|dc", na=False)].groupby('shape').agg(['count'])
#ufos['city'].str.contains("washington|dc", na=False)
# wash = ufos[ufos['city'].str.contains("washington|dc", na=False)]
wash = ufos[ufos['state'].str.contains('dc', na=False)]
#grouped = ufos[ufos['city'].str.contains("washington|dc", na=False)].groupby('shape').sum().reset_index()
#grouped.sort_values('shape', ascending=False)

In [104]:
wash.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,duration,date
1918,10/15/1995 22:00,washington&#44 d.c.,dc,NaN,light,600,10 minutes,Million Man March had visitors?,1/20/2003,38.907231,-77.036464,600.0,1995-10-15
2006,10/15/2000 12:30,washington&#44 d.c.,dc,NaN,unknown,300,5 minutes,Unusual Contrail..had evenly spaced lines acro...,9/6/2002,38.907231,-77.036464,300.0,2000-10-15
5804,10/31/2004 20:00,washington&#44 d.c.,dc,NaN,light,15,10-15 seconds,3-4 crazy star-like objects moving at very hig...,1/19/2005,38.907231,-77.036464,15.0,2004-10-31
5896,10/31/2007 21:45,washington&#44 d.c.,dc,NaN,sphere,3600,about 1 hour,Two UFO&#39s Lingering In The Sky On October 3...,11/28/2007,38.907231,-77.036464,3600.0,2007-10-31
7726,11/10/2006 08:20,washington&#44 d.c. (area),dc,NaN,cylinder,30,30 seconds,Sighting recorded Friday November 10th&#44 8:2...,12/7/2006,38.907231,-77.036464,30.0,2006-11-10

In [103]:
wash.groupby('shape').size().sort_values(ascending=False)

shape
light        16
sphere       14
other        10
disk          9
fireball      8
cylinder      7
triangle      6
circle        5
changing      4
formation     3
oval          3
cigar         3
diamond       2
flash         1
egg           1
cone          1
rectangle     1
chevron       1
unknown       1
dtype: int64

In [46]:
#grouped = ufos.groupby('shape').sum().reset_index()
#grouped.sort_values('shape', ascending=False)
#ufos.groupby('shape').count()
#ufos.groupby('shape').count().reset_index()
shapes = ufos.groupby('shape')
#shapes.size()
shapes.size().sort_values(ascending=False)

shape
light        16565
triangle      7865
circle        7608
fireball      6208
other         5649
unknown       5584
sphere        5387
disk          5213
oval          3733
formation     2457
cigar         2057
changing      1962
flash         1328
rectangle     1297
cylinder      1283
diamond       1178
chevron        952
egg            759
teardrop       750
cone           316
cross          233
delta            7
round            2
crescent         2
pyramid          1
dome             1
flare            1
hexagon          1
changed          1
dtype: int64

El 10% de los reportes incluye objetos con forma de triangulo

In [131]:
ufos.shape

(80332, 13)

In [79]:
shapes['duration'].mean().sort_values(ascending=False)

shape
cone         82827.406250
sphere       21787.298828
other        20634.210938
crescent     18905.000000
light        13170.345703
unknown       5546.723145
flash         5330.289551
circle        4767.465820
fireball      4023.941406
oval          3898.586426
changed       3600.000000
cylinder      3426.512451
delta         2307.857178
changing      2079.513428
cigar         1917.106812
egg           1886.793335
triangle      1664.266357
disk          1460.431641
diamond       1413.628662
formation     1254.048584
teardrop       942.945984
cross          748.519287
rectangle      683.183350
chevron        460.317169
round          452.500000
hexagon        240.000000
pyramid        120.000000
flare           30.000000
dome             2.000000
Name: duration, dtype: float32

In [51]:
year2005 = ufos[ufos['datetime'].str.contains("2005", na=False)]
year2005

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,duration,date
143,10/10/2005 07:40,seattle,wa,us,other,60,one + minutes,round symetrical with roundish flat bottom shi...,10/11/2005,47.6063889,-122.330833,60.0,2018-03-25
144,10/10/2005 09:00,apache junction,az,us,other,30,30 seconds,half-moon shaped objects that just winked out,10/11/2005,33.4150000,-111.548889,30.0,2018-03-25
145,10/10/2005 09:30,north miami beach,fl,us,oval,1800,30 minutes,i sent you an e-mail 2 days ago and really wan...,10/20/2005,25.9327778,-80.162778,1800.0,2018-03-25
146,10/10/2005 14:45,los angeles,ca,us,egg,10,10 seconds,Egg UFO over Hollywood Hills and LAX in LOS AN...,10/20/2005,34.0522222,-118.242778,10.0,2018-03-25
147,10/10/2005 20:00,loretto,pa,us,triangle,300,5 minutes,Dull red flash&#44 Triangular ship&#44 Vocal N...,10/30/2006,40.5030556,-78.630556,300.0,2018-03-25
148,10/10/2005 20:00,newtown (uk/wales),NaN,gb,formation,360,5/6 minutes,red/orang lights dancing in the sky.,5/15/2006,52.516667,-3.300000,360.0,2018-03-25
149,10/10/2005 21:00,lewisburg,tn,us,unknown,240,4 minutes,Like a grouping of balloons with a slight glow...,12/7/2006,35.4491667,-86.788889,240.0,2018-03-25
150,10/10/2005 21:30,north miami beach,fl,us,other,3600,60 min,a manta ray shaped object with orange and yell...,10/11/2005,25.9327778,-80.162778,3600.0,2018-03-25
151,10/10/2005 22:08,east wenatchee,wa,us,light,1200,20 min,Strange light over East Wenatchee Washington,10/20/2005,47.4158333,-120.291944,1200.0,2018-03-25
152,10/10/2005 23:00,hendersonville,nc,us,light,600,10 minutes,Last night&#44 October 10&#44 at about 11:00PM...,10/11/2005,35.3186111,-82.461111,600.0,2018-03-25
153,10/10/2005 23:07,brainerd,mn,us,disk,300,5 min.,A big lighted up silver saucer.,10/30/2006,46.3580556,-94.200556,300.0,2018-03-25
360,10/11/2005 00:00,cannock (uk/england),NaN,gb,formation,180,3 minutes,Formation spotted,10/20/2005,52.683333,-2.016667,180.0,2018-03-25
361,10/11/2005 00:00,holiday,fl,us,light,180,ohrs,light dancing over holliday florda,10/20/2005,28.1875000,-82.739722,180.0,2018-03-25
362,10/11/2005 03:00,eagan,mn,us,circle,7200,2 hours plus,((NUFORC Note: Possible star. PD)) Bright c...,10/11/2005,44.8041667,-93.166667,7200.0,2018-03-25
363,10/11/2005 03:20,siloam sprngs,ar,NaN,circle,180,3 min,Round light appeared to be surrounded by fog&#...,10/20/2005,36.188137,-94.540496,180.0,2018-03-25
364,10/11/2005 16:00,canyonlands np,ut,NaN,formation,600,10 minutes,((NUFORC Note: Possible satellites. PD)) Ne...,10/20/2005,39.32098,-111.093731,600.0,2018-03-25
365,10/11/2005 16:36,lake point,ut,us,light,720,about 12 mins,Lights near Lake Point/Grantsville&#44 UT,10/20/2005,40.6808333,-112.262222,720.0,2018-03-25
366,10/11/2005 18:33,pearl harbor,hi,NaN,light,2,2 seconds,Fast moving light in the sky South of Peal Harbor,10/20/2005,21.344507,-157.974891,2.0,2018-03-25
367,10/11/2005 18:45,peoria,az,us,light,5400,90 minutes,Formation of amber lights over Tolleson&#44 AZ...,10/20/2005,33.5805556,-112.236667,5400.0,2018-03-25
368,10/11/2005 19:00,buckeye,az,us,formation,1800,30 minutes,two different multi-light configurations that ...,10/20/2005,33.3702778,-112.583056,1800.0,2018-03-25
369,10/11/2005 19:00,casa grande,az,us,light,1800,30 minutes,amber lights over I-10 near Casa Grande Az.,10/20/2005,32.8794444,-111.756667,1800.0,2018-03-25
370,10/11/2005 19:30,tempe,az,us,triangle,3,~3 sec,3 light triangle stayed perfectly still and th...,10/20/2005,33.4147222,-111.908611,3.0,2018-03-25
371,10/11/2005 19:45,mobile,al,us,light,1800,30 minutes?,((NUFORC Note: Possible sighting of Mars. PD...,10/20/2005,30.6941667,-88.043056,1800.0,2018-03-25
372,10/11/2005 21:00,little ferry,nj,us,oval,300,5 min,oval sahped the whole thing was lit up with a...,12/16/2005,40.8527778,-74.042500,300.0,2018-03-25
373,10/11/2005 21:00,wall lake,ia,us,light,10,10 seconds,strange shit in the sky in sac county iowa.,10/20/2005,42.2711111,-95.092778,10.0,2018-03-25
374,10/11/2005 21:50,rotherham (south yorkshire) (uk/england),NaN,gb,oval,3600,1hr,A light it was a oval shape duration was 1hr,12/16/2005,53.433333,-1.350000,3600.0,2018-03-25
747,10/1/2005 00:00,evergreen park/tinley park/orland park,il,NaN,light,9000,from 11pm - 1:30 am,strange. dozens saw it . happens all the time,10/11/2005,41.462072,-87.894245,9000.0,2018-03-25
748,10/1/2005 00:00,harrisburg,mo,us,light,2400,40 minutes,The waves of lights seemed to materialize high...,12/12/2009,39.1269000,-92.439900,2400.0,2018-03-25
749,10/1/2005 00:00,oak forest,il,us,circle,3600,1 hour,At approximitly 0:00 I spotted three red circu...,10/11/2005,41.6027778,-87.743889,3600.0,2018-03-25
750,10/1/2005 00:30,oak forest,il,us,light,3600,hour,I saw the three red lights in the sky over Oak...,10/11/2005,41.6027778,-87.743889,3600.0,2018-03-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
79765,9/7/2005 17:30,marlton,nj,us,other,180,3 minutes,Bright object in sky changes direction in a sp...,10/11/2005,39.8911,-74.922222,180.0,2018-03-25
79766,9/7/2005 18:15,oradell,nj,us,light,600,10 minutes,Just a few moments ago while sitting in my car...,10/11/2005,40.9586,-74.037222,600.0,2018-03-25
79767,9/7/2005 19:04,vancouver (canada),bc,ca,cigar,180,3 minutes,Time I saw object: 19.04 Hours&#44 September ...,10/11/2005,49.25,-123.133333,180.0,2018-03-25
79768,9/7/2005 19:53,bethel park,pa,us,disk,300,about five mins,On my way home I saw this flashing light which...,10/11/2005,40.3275,-80.039722,300.0,2018-03-25
79769,9/7/2005 20:10,gold canyon,az,NaN,light,900,15 min.,orange lights in sky,10/11/2005,33.3593,-111.450030,900.0,2018-03-25
79770,9/7/2005 21:30,crown point,in,us,changing,120,2 minutes,Reddish fireball with tail/sphere over Crown P...,10/11/2005,41.4169,-87.365278,120.0,2018-03-25
79771,9/7/2005 22:00,willoughby,oh,us,unknown,300,less than 5 minutes,Bright&#44 high flying&#44 quick moving object...,10/11/2005,41.6397,-81.406667,300.0,2018-03-25
79949,9/8/2005 00:00,miami,fl,us,light,2400,40 minutes,Darting light&#44 popping ears,10/11/2005,25.7739,-80.193889,2400.0,2018-03-25
79950,9/8/2005 05:00,amboy,wa,us,light,2400,hour,Glittering small lights changing from red to b...,10/11/2005,45.9103,-122.445278,2400.0,2018-03-25
79951,9/8/2005 05:25,columbiana,oh,us,oval,300,5minutes,About 1&#44500-2&#44000ft agl. traveling from ...,10/11/2005,40.8883,-80.694167,300.0,2018-03-25
79952,9/8/2005 05:43,gainesville,ga,us,other,120,1-2 minutes,Was observing Mars overhead when flashing ligh...,10/11/2005,34.2978,-83.824167,120.0,2018-03-25
79953,9/8/2005 11:18,montr&eacute;al (canada),qc,NaN,cigar,300,5 minutes,Cigar shapeed over park in Montreal canada and...,10/11/2005,45.5087,-73.553992,300.0,2018-03-25
79954,9/8/2005 14:00,morehead,ky,us,circle,300,5 min,Metallic&#44 circular object seen in daytime sky,10/11/2005,38.1839,-83.432778,300.0,2018-03-25
79955,9/8/2005 15:30,los angeles (downtown),ca,us,oval,300,3-5 min.,Flashing light over the Little Tokyo in L.A.,10/11/2005,34.0522,-118.242778,300.0,2018-03-25
79956,9/8/2005 19:00,chenango forks,ny,us,disk,600,10 min,rotating light seen in sky and watched while i...,10/11/2005,42.2356,-75.848611,600.0,2018-03-25
79957,9/8/2005 20:00,westboro,ma,NaN,light,3600,1 hour,Bright Light looked like enormous star....Hove...,10/11/2005,42.2695,-71.616129,3600.0,2018-03-25
79958,9/8/2005 20:30,buckeye,az,us,fireball,3600,1 hr x&#39s 3 days,AT LEAST 19 LIGHTS OVER BUCKEYE-GILABEND AREA ...,10/11/2005,33.3703,-112.583056,3600.0,2018-03-25
79959,9/8/2005 21:10,albany,or,us,oval,4,4 seconds,Probably a meteor,10/11/2005,44.6367,-123.104722,4.0,2018-03-25
79960,9/8/2005 21:30,spirit lake,id,us,light,120,2 minutes,Object due north very bright (redish) and stat...,10/11/2005,47.9664,-116.867500,120.0,2018-03-25
79961,9/8/2005 22:30,bryne (norway),NaN,NaN,triangle,5,5 sec,Low and slowflying triangle.,10/11/2005,58.7358,5.647735,5.0,2018-03-25
80197,9/9/2005 04:00,west palm beach,fl,us,light,900,15 min,I woke up to get a drink of water. I looked ou...,10/11/2005,26.7053,-80.036667,900.0,2018-03-25
80198,9/9/2005 11:35,beaverton,or,us,other,10,5-10 sec.,Four Silver Objects,10/11/2005,45.4872,-122.802500,10.0,2018-03-25
80199,9/9/2005 19:00,nodine,mn,us,light,15,15 seconds,orange ball of light in the horizon moving rap...,10/11/2005,43.905,-91.436111,15.0,2018-03-25
80200,9/9/2005 20:00,pineville,mo,us,light,1200,20 min,large amber yellowish light,10/11/2005,36.5944,-94.383889,1200.0,2018-03-25
80201,9/9/2005 20:30,georgetown (canada),on,ca,light,2,2 seconds,Quick light bluish-purple light shot across th...,10/11/2005,46.1833,-62.533333,2.0,2018-03-25
80202,9/9/2005 20:55,bertram,tx,us,fireball,20,20 seconds,low steaking fireball,10/11/2005,30.7436,-98.055278,20.0,2018-03-25
80203,9/9/2005 21:00,montreal (canada),qc,ca,formation,30,30 sec,looking at the stars&#44 and at that veru mome...,10/11/2005,45.5,-73.583333,30.0,2018-03-25
80204,9/9/2005 21:00,sault ste. marie (canada),on,NaN,other,10,5 to 10 seconds,I witnessed a low-flying&#44 flat and round&#4...,10/11/2005,46.5219,-84.346090,10.0,2018-03-25
80205,9/9/2005 21:30,gold canyon,az,NaN,unknown,10,one hour or so,Amber lights hovering over Apache Junction&#44...,10/11/2005,33.3593,-111.450030,10.0,2018-03-25
80206,9/9/2005 22:00,markham (canada),on,ca,disk,7200,2 hours,Seven of us were sitting in a backyard sociali...,10/11/2005,43.8667,-79.266667,7200.0,2018-03-25

In [54]:
type(year2005)

pandas.core.frame.DataFrame

In [56]:
year2005.shape

(4083, 13)

In [59]:
year2005.sort_values('datetime', ascending=True)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,duration,date
11021,1/1/2005 00:00,north hollywood,ca,us,formation,1260,21 minutes,I witnessed a UFO dogfight. ((NUFORC Note: P...,2/8/2005,34.1722222,-118.378056,1260.0,2018-03-25
11022,1/1/2005 00:02,belleview,fl,us,unknown,360,11:02 11:08,scary shit,1/11/2005,29.0550000,-82.062500,360.0,2018-03-25
11023,1/1/2005 00:05,las vegas,nv,us,oval,5,5 seconds,I had never seen such speed of an object up on...,1/11/2005,36.1750000,-115.136389,5.0,2018-03-25
11024,1/1/2005 00:15,fullerton,ca,us,light,600,10 minutes,New Year&#39s Day around 1:30 a.m two redish/y...,1/11/2005,33.8702778,-117.924444,600.0,2018-03-25
11025,1/1/2005 00:20,waltham abbey (uk/england),NaN,gb,sphere,360,5-6minutes,hi&#44 we let off fireworks to see in the new ...,1/11/2005,51.683333,0.016667,360.0,2018-03-25
11026,1/1/2005 00:30,monterrey (mexico),NaN,NaN,cross,300,4 to 5 miniutes,Object moves from west to east&#44 makes a u-t...,1/11/2005,25.686614,-100.316113,300.0,2018-03-25
11027,1/1/2005 01:45,chicago,il,us,changing,120,2 minutes,3 shape-changing objects&#44 interacting with ...,1/11/2005,41.8500000,-87.650000,120.0,2018-03-25
11028,1/1/2005 01:49,brentwood,ca,us,rectangle,600,10 minutes,I went outside to turn off the hot tub and I s...,1/11/2005,37.9319444,-121.694722,600.0,2018-03-25
11029,1/1/2005 03:00,ocean shores,wa,us,flash,14400,4hrs,thier were ligth flashing &#44moving in all di...,1/11/2005,46.9738889,-124.155000,14400.0,2018-03-25
11030,1/1/2005 03:30,london (uk/england),NaN,gb,formation,60,1 minute,Red lights flying in formation high above Lond...,2/22/2005,51.514125,-0.093689,60.0,2018-03-25
11031,1/1/2005 06:51,monterrey (mexico),NaN,NaN,egg,1,less than 1 second,i was just taking pictures of night view with ...,1/11/2005,25.686614,-100.316113,1.0,2018-03-25
11032,1/1/2005 13:45,columbia,sc,us,changing,300,5 minutes,White objects at high altitude and high speeds...,1/11/2005,34.0005556,-81.035000,300.0,2018-03-25
11033,1/1/2005 17:25,route 202,nj,NaN,light,60,about 1 minute,Cluster of lights fade then disappear,1/11/2005,40.738266,-74.538977,60.0,2018-03-25
11034,1/1/2005 17:30,tampa,fl,us,disk,60,1 minute,Saucer-shaped object &#44 about the size of tw...,1/11/2005,27.9472222,-82.458611,60.0,2018-03-25
11035,1/1/2005 19:00,chester,wv,us,circle,60,1 minute,a ball of white bright light,1/19/2005,40.6130556,-80.563056,60.0,2018-03-25
11036,1/1/2005 20:45,toowoomba (australia),NaN,au,formation,30,30 seconds,formation of lights appeared out of nowhere hi...,1/11/2005,-27.56056,151.953857,30.0,2018-03-25
11037,1/1/2005 21:00,columbus,ga,us,light,300,5 minutes,Four individual lights moving rapidly across t...,1/11/2005,32.4608333,-84.987778,300.0,2018-03-25
11038,1/1/2005 23:00,phoenix,az,us,triangle,600,10 min.,((POSSIBLE HOAX)) Three Huge Amber Orbs of li...,2/14/2006,33.4483333,-112.073333,600.0,2018-03-25
7495,1/10/2005 05:15,murfreesboro,tn,us,disk,20,20 seconds,At first we thought it was lighting&#44 when 4...,1/19/2005,35.8455556,-86.390278,20.0,2018-03-25
7496,1/10/2005 06:30,shavat (uzbekistan),NaN,NaN,light,30,about 30 seconds,I spotted a green light speeding in all direct...,11/28/2007,41.65,60.300000,30.0,2018-03-25
7497,1/10/2005 10:15,savannah,ga,us,sphere,15,15 seconds,This white dot was moving across the sky from ...,2/8/2005,32.0833333,-81.100000,15.0,2018-03-25
7498,1/10/2005 17:24,denver (i-25&#44 southbound),co,us,NaN,30,20-30 sec.,Solo driver witnesses oblong&#44 rectangular o...,9/2/2005,39.7391667,-104.984167,30.0,2018-03-25
7499,1/10/2005 18:00,lincoln city,or,us,light,180,3 minutes,Bright light over ocean that was later joined ...,1/11/2005,44.9583333,-124.016667,180.0,2018-03-25
7500,1/10/2005 18:45,bellevue,wa,us,changing,900,15 minutes,Multi colored object&#44 split into 3 lights&#...,1/11/2005,47.6105556,-122.199444,900.0,2018-03-25
7501,1/10/2005 19:00,fortescue (over the delaware bay),nj,us,circle,30,30 seconds,Light with erratic flight pattern,1/11/2005,39.2375000,-75.171944,30.0,2018-03-25
7502,1/10/2005 19:18,barryton,mi,us,circle,0.5,1/2 second,1 white light with a red 1 following it. it la...,1/19/2005,43.7525000,-85.146944,0.5,2018-03-25
7503,1/10/2005 19:22,houston,tx,us,oval,60,1 minute,An oval object with lights very close to the Fwy,1/11/2005,29.7630556,-95.363056,60.0,2018-03-25
7504,1/10/2005 21:30,marathon,fl,us,light,5,5 seconds,Set of four frosty lights that revolved very f...,8/27/2009,24.7133333,-81.090556,5.0,2018-03-25
7505,1/10/2005 22:00,la jolla,ca,us,light,4,3-4sec,UFO Sighting in Southern California I live th...,12/12/2011,32.8472222,-117.273333,4.0,2018-03-25
7506,1/10/2005 22:06,scottsdale,az,us,changing,2100,35 minutes,Pulsating twinkling light in the sky over the ...,1/11/2005,33.5091667,-111.898333,2100.0,2018-03-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
79765,9/7/2005 17:30,marlton,nj,us,other,180,3 minutes,Bright object in sky changes direction in a sp...,10/11/2005,39.8911,-74.922222,180.0,2018-03-25
79766,9/7/2005 18:15,oradell,nj,us,light,600,10 minutes,Just a few moments ago while sitting in my car...,10/11/2005,40.9586,-74.037222,600.0,2018-03-25
79767,9/7/2005 19:04,vancouver (canada),bc,ca,cigar,180,3 minutes,Time I saw object: 19.04 Hours&#44 September ...,10/11/2005,49.25,-123.133333,180.0,2018-03-25
79768,9/7/2005 19:53,bethel park,pa,us,disk,300,about five mins,On my way home I saw this flashing light which...,10/11/2005,40.3275,-80.039722,300.0,2018-03-25
79769,9/7/2005 20:10,gold canyon,az,NaN,light,900,15 min.,orange lights in sky,10/11/2005,33.3593,-111.450030,900.0,2018-03-25
79770,9/7/2005 21:30,crown point,in,us,changing,120,2 minutes,Reddish fireball with tail/sphere over Crown P...,10/11/2005,41.4169,-87.365278,120.0,2018-03-25
79771,9/7/2005 22:00,willoughby,oh,us,unknown,300,less than 5 minutes,Bright&#44 high flying&#44 quick moving object...,10/11/2005,41.6397,-81.406667,300.0,2018-03-25
79949,9/8/2005 00:00,miami,fl,us,light,2400,40 minutes,Darting light&#44 popping ears,10/11/2005,25.7739,-80.193889,2400.0,2018-03-25
79950,9/8/2005 05:00,amboy,wa,us,light,2400,hour,Glittering small lights changing from red to b...,10/11/2005,45.9103,-122.445278,2400.0,2018-03-25
79951,9/8/2005 05:25,columbiana,oh,us,oval,300,5minutes,About 1&#44500-2&#44000ft agl. traveling from ...,10/11/2005,40.8883,-80.694167,300.0,2018-03-25
79952,9/8/2005 05:43,gainesville,ga,us,other,120,1-2 minutes,Was observing Mars overhead when flashing ligh...,10/11/2005,34.2978,-83.824167,120.0,2018-03-25
79953,9/8/2005 11:18,montr&eacute;al (canada),qc,NaN,cigar,300,5 minutes,Cigar shapeed over park in Montreal canada and...,10/11/2005,45.5087,-73.553992,300.0,2018-03-25
79954,9/8/2005 14:00,morehead,ky,us,circle,300,5 min,Metallic&#44 circular object seen in daytime sky,10/11/2005,38.1839,-83.432778,300.0,2018-03-25
79955,9/8/2005 15:30,los angeles (downtown),ca,us,oval,300,3-5 min.,Flashing light over the Little Tokyo in L.A.,10/11/2005,34.0522,-118.242778,300.0,2018-03-25
79956,9/8/2005 19:00,chenango forks,ny,us,disk,600,10 min,rotating light seen in sky and watched while i...,10/11/2005,42.2356,-75.848611,600.0,2018-03-25
79957,9/8/2005 20:00,westboro,ma,NaN,light,3600,1 hour,Bright Light looked like enormous star....Hove...,10/11/2005,42.2695,-71.616129,3600.0,2018-03-25
79958,9/8/2005 20:30,buckeye,az,us,fireball,3600,1 hr x&#39s 3 days,AT LEAST 19 LIGHTS OVER BUCKEYE-GILABEND AREA ...,10/11/2005,33.3703,-112.583056,3600.0,2018-03-25
79959,9/8/2005 21:10,albany,or,us,oval,4,4 seconds,Probably a meteor,10/11/2005,44.6367,-123.104722,4.0,2018-03-25
79960,9/8/2005 21:30,spirit lake,id,us,light,120,2 minutes,Object due north very bright (redish) and stat...,10/11/2005,47.9664,-116.867500,120.0,2018-03-25
79961,9/8/2005 22:30,bryne (norway),NaN,NaN,triangle,5,5 sec,Low and slowflying triangle.,10/11/2005,58.7358,5.647735,5.0,2018-03-25
80197,9/9/2005 04:00,west palm beach,fl,us,light,900,15 min,I woke up to get a drink of water. I looked ou...,10/11/2005,26.7053,-80.036667,900.0,2018-03-25
80198,9/9/2005 11:35,beaverton,or,us,other,10,5-10 sec.,Four Silver Objects,10/11/2005,45.4872,-122.802500,10.0,2018-03-25
80199,9/9/2005 19:00,nodine,mn,us,light,15,15 seconds,orange ball of light in the horizon moving rap...,10/11/2005,43.905,-91.436111,15.0,2018-03-25
80200,9/9/2005 20:00,pineville,mo,us,light,1200,20 min,large amber yellowish light,10/11/2005,36.5944,-94.383889,1200.0,2018-03-25
80201,9/9/2005 20:30,georgetown (canada),on,ca,light,2,2 seconds,Quick light bluish-purple light shot across th...,10/11/2005,46.1833,-62.533333,2.0,2018-03-25
80202,9/9/2005 20:55,bertram,tx,us,fireball,20,20 seconds,low steaking fireball,10/11/2005,30.7436,-98.055278,20.0,2018-03-25
80203,9/9/2005 21:00,montreal (canada),qc,ca,formation,30,30 sec,looking at the stars&#44 and at that veru mome...,10/11/2005,45.5,-73.583333,30.0,2018-03-25
80204,9/9/2005 21:00,sault ste. marie (canada),on,NaN,other,10,5 to 10 seconds,I witnessed a low-flying&#44 flat and round&#4...,10/11/2005,46.5219,-84.346090,10.0,2018-03-25
80205,9/9/2005 21:30,gold canyon,az,NaN,unknown,10,one hour or so,Amber lights hovering over Apache Junction&#44...,10/11/2005,33.3593,-111.450030,10.0,2018-03-25
80206,9/9/2005 22:00,markham (canada),on,ca,disk,7200,2 hours,Seven of us were sitting in a backyard sociali...,10/11/2005,43.8667,-79.266667,7200.0,2018-03-25

In [71]:
year2005inGL = year2005[year2005['city'].str.contains("green lake", na=False)] 
year2005inGL.sort_values('duration', ascending=False)

Empty DataFrame
Columns: [datetime, city, state, country, shape, duration (seconds), duration (hours/min), comments, date posted, latitude, longitude , duration, date]
Index: []

In [65]:
year2005.sort_values(['datetime', 'duration'], ascending=True)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,duration,date
11021,1/1/2005 00:00,north hollywood,ca,us,formation,1260,21 minutes,I witnessed a UFO dogfight. ((NUFORC Note: P...,2/8/2005,34.1722222,-118.378056,1260.0,2018-03-25
11022,1/1/2005 00:02,belleview,fl,us,unknown,360,11:02 11:08,scary shit,1/11/2005,29.0550000,-82.062500,360.0,2018-03-25
11023,1/1/2005 00:05,las vegas,nv,us,oval,5,5 seconds,I had never seen such speed of an object up on...,1/11/2005,36.1750000,-115.136389,5.0,2018-03-25
11024,1/1/2005 00:15,fullerton,ca,us,light,600,10 minutes,New Year&#39s Day around 1:30 a.m two redish/y...,1/11/2005,33.8702778,-117.924444,600.0,2018-03-25
11025,1/1/2005 00:20,waltham abbey (uk/england),NaN,gb,sphere,360,5-6minutes,hi&#44 we let off fireworks to see in the new ...,1/11/2005,51.683333,0.016667,360.0,2018-03-25
11026,1/1/2005 00:30,monterrey (mexico),NaN,NaN,cross,300,4 to 5 miniutes,Object moves from west to east&#44 makes a u-t...,1/11/2005,25.686614,-100.316113,300.0,2018-03-25
11027,1/1/2005 01:45,chicago,il,us,changing,120,2 minutes,3 shape-changing objects&#44 interacting with ...,1/11/2005,41.8500000,-87.650000,120.0,2018-03-25
11028,1/1/2005 01:49,brentwood,ca,us,rectangle,600,10 minutes,I went outside to turn off the hot tub and I s...,1/11/2005,37.9319444,-121.694722,600.0,2018-03-25
11029,1/1/2005 03:00,ocean shores,wa,us,flash,14400,4hrs,thier were ligth flashing &#44moving in all di...,1/11/2005,46.9738889,-124.155000,14400.0,2018-03-25
11030,1/1/2005 03:30,london (uk/england),NaN,gb,formation,60,1 minute,Red lights flying in formation high above Lond...,2/22/2005,51.514125,-0.093689,60.0,2018-03-25
11031,1/1/2005 06:51,monterrey (mexico),NaN,NaN,egg,1,less than 1 second,i was just taking pictures of night view with ...,1/11/2005,25.686614,-100.316113,1.0,2018-03-25
11032,1/1/2005 13:45,columbia,sc,us,changing,300,5 minutes,White objects at high altitude and high speeds...,1/11/2005,34.0005556,-81.035000,300.0,2018-03-25
11033,1/1/2005 17:25,route 202,nj,NaN,light,60,about 1 minute,Cluster of lights fade then disappear,1/11/2005,40.738266,-74.538977,60.0,2018-03-25
11034,1/1/2005 17:30,tampa,fl,us,disk,60,1 minute,Saucer-shaped object &#44 about the size of tw...,1/11/2005,27.9472222,-82.458611,60.0,2018-03-25
11035,1/1/2005 19:00,chester,wv,us,circle,60,1 minute,a ball of white bright light,1/19/2005,40.6130556,-80.563056,60.0,2018-03-25
11036,1/1/2005 20:45,toowoomba (australia),NaN,au,formation,30,30 seconds,formation of lights appeared out of nowhere hi...,1/11/2005,-27.56056,151.953857,30.0,2018-03-25
11037,1/1/2005 21:00,columbus,ga,us,light,300,5 minutes,Four individual lights moving rapidly across t...,1/11/2005,32.4608333,-84.987778,300.0,2018-03-25
11038,1/1/2005 23:00,phoenix,az,us,triangle,600,10 min.,((POSSIBLE HOAX)) Three Huge Amber Orbs of li...,2/14/2006,33.4483333,-112.073333,600.0,2018-03-25
7495,1/10/2005 05:15,murfreesboro,tn,us,disk,20,20 seconds,At first we thought it was lighting&#44 when 4...,1/19/2005,35.8455556,-86.390278,20.0,2018-03-25
7496,1/10/2005 06:30,shavat (uzbekistan),NaN,NaN,light,30,about 30 seconds,I spotted a green light speeding in all direct...,11/28/2007,41.65,60.300000,30.0,2018-03-25
7497,1/10/2005 10:15,savannah,ga,us,sphere,15,15 seconds,This white dot was moving across the sky from ...,2/8/2005,32.0833333,-81.100000,15.0,2018-03-25
7498,1/10/2005 17:24,denver (i-25&#44 southbound),co,us,NaN,30,20-30 sec.,Solo driver witnesses oblong&#44 rectangular o...,9/2/2005,39.7391667,-104.984167,30.0,2018-03-25
7499,1/10/2005 18:00,lincoln city,or,us,light,180,3 minutes,Bright light over ocean that was later joined ...,1/11/2005,44.9583333,-124.016667,180.0,2018-03-25
7500,1/10/2005 18:45,bellevue,wa,us,changing,900,15 minutes,Multi colored object&#44 split into 3 lights&#...,1/11/2005,47.6105556,-122.199444,900.0,2018-03-25
7501,1/10/2005 19:00,fortescue (over the delaware bay),nj,us,circle,30,30 seconds,Light with erratic flight pattern,1/11/2005,39.2375000,-75.171944,30.0,2018-03-25
7502,1/10/2005 19:18,barryton,mi,us,circle,0.5,1/2 second,1 white light with a red 1 following it. it la...,1/19/2005,43.7525000,-85.146944,0.5,2018-03-25
7503,1/10/2005 19:22,houston,tx,us,oval,60,1 minute,An oval object with lights very close to the Fwy,1/11/2005,29.7630556,-95.363056,60.0,2018-03-25
7504,1/10/2005 21:30,marathon,fl,us,light,5,5 seconds,Set of four frosty lights that revolved very f...,8/27/2009,24.7133333,-81.090556,5.0,2018-03-25
7505,1/10/2005 22:00,la jolla,ca,us,light,4,3-4sec,UFO Sighting in Southern California I live th...,12/12/2011,32.8472222,-117.273333,4.0,2018-03-25
7506,1/10/2005 22:06,scottsdale,az,us,changing,2100,35 minutes,Pulsating twinkling light in the sky over the ...,1/11/2005,33.5091667,-111.898333,2100.0,2018-03-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
79765,9/7/2005 17:30,marlton,nj,us,other,180,3 minutes,Bright object in sky changes direction in a sp...,10/11/2005,39.8911,-74.922222,180.0,2018-03-25
79766,9/7/2005 18:15,oradell,nj,us,light,600,10 minutes,Just a few moments ago while sitting in my car...,10/11/2005,40.9586,-74.037222,600.0,2018-03-25
79767,9/7/2005 19:04,vancouver (canada),bc,ca,cigar,180,3 minutes,Time I saw object: 19.04 Hours&#44 September ...,10/11/2005,49.25,-123.133333,180.0,2018-03-25
79768,9/7/2005 19:53,bethel park,pa,us,disk,300,about five mins,On my way home I saw this flashing light which...,10/11/2005,40.3275,-80.039722,300.0,2018-03-25
79769,9/7/2005 20:10,gold canyon,az,NaN,light,900,15 min.,orange lights in sky,10/11/2005,33.3593,-111.450030,900.0,2018-03-25
79770,9/7/2005 21:30,crown point,in,us,changing,120,2 minutes,Reddish fireball with tail/sphere over Crown P...,10/11/2005,41.4169,-87.365278,120.0,2018-03-25
79771,9/7/2005 22:00,willoughby,oh,us,unknown,300,less than 5 minutes,Bright&#44 high flying&#44 quick moving object...,10/11/2005,41.6397,-81.406667,300.0,2018-03-25
79949,9/8/2005 00:00,miami,fl,us,light,2400,40 minutes,Darting light&#44 popping ears,10/11/2005,25.7739,-80.193889,2400.0,2018-03-25
79950,9/8/2005 05:00,amboy,wa,us,light,2400,hour,Glittering small lights changing from red to b...,10/11/2005,45.9103,-122.445278,2400.0,2018-03-25
79951,9/8/2005 05:25,columbiana,oh,us,oval,300,5minutes,About 1&#44500-2&#44000ft agl. traveling from ...,10/11/2005,40.8883,-80.694167,300.0,2018-03-25
79952,9/8/2005 05:43,gainesville,ga,us,other,120,1-2 minutes,Was observing Mars overhead when flashing ligh...,10/11/2005,34.2978,-83.824167,120.0,2018-03-25
79953,9/8/2005 11:18,montr&eacute;al (canada),qc,NaN,cigar,300,5 minutes,Cigar shapeed over park in Montreal canada and...,10/11/2005,45.5087,-73.553992,300.0,2018-03-25
79954,9/8/2005 14:00,morehead,ky,us,circle,300,5 min,Metallic&#44 circular object seen in daytime sky,10/11/2005,38.1839,-83.432778,300.0,2018-03-25
79955,9/8/2005 15:30,los angeles (downtown),ca,us,oval,300,3-5 min.,Flashing light over the Little Tokyo in L.A.,10/11/2005,34.0522,-118.242778,300.0,2018-03-25
79956,9/8/2005 19:00,chenango forks,ny,us,disk,600,10 min,rotating light seen in sky and watched while i...,10/11/2005,42.2356,-75.848611,600.0,2018-03-25
79957,9/8/2005 20:00,westboro,ma,NaN,light,3600,1 hour,Bright Light looked like enormous star....Hove...,10/11/2005,42.2695,-71.616129,3600.0,2018-03-25
79958,9/8/2005 20:30,buckeye,az,us,fireball,3600,1 hr x&#39s 3 days,AT LEAST 19 LIGHTS OVER BUCKEYE-GILABEND AREA ...,10/11/2005,33.3703,-112.583056,3600.0,2018-03-25
79959,9/8/2005 21:10,albany,or,us,oval,4,4 seconds,Probably a meteor,10/11/2005,44.6367,-123.104722,4.0,2018-03-25
79960,9/8/2005 21:30,spirit lake,id,us,light,120,2 minutes,Object due north very bright (redish) and stat...,10/11/2005,47.9664,-116.867500,120.0,2018-03-25
79961,9/8/2005 22:30,bryne (norway),NaN,NaN,triangle,5,5 sec,Low and slowflying triangle.,10/11/2005,58.7358,5.647735,5.0,2018-03-25
80197,9/9/2005 04:00,west palm beach,fl,us,light,900,15 min,I woke up to get a drink of water. I looked ou...,10/11/2005,26.7053,-80.036667,900.0,2018-03-25
80198,9/9/2005 11:35,beaverton,or,us,other,10,5-10 sec.,Four Silver Objects,10/11/2005,45.4872,-122.802500,10.0,2018-03-25
80199,9/9/2005 19:00,nodine,mn,us,light,15,15 seconds,orange ball of light in the horizon moving rap...,10/11/2005,43.905,-91.436111,15.0,2018-03-25
80200,9/9/2005 20:00,pineville,mo,us,light,1200,20 min,large amber yellowish light,10/11/2005,36.5944,-94.383889,1200.0,2018-03-25
80201,9/9/2005 20:30,georgetown (canada),on,ca,light,2,2 seconds,Quick light bluish-purple light shot across th...,10/11/2005,46.1833,-62.533333,2.0,2018-03-25
80202,9/9/2005 20:55,bertram,tx,us,fireball,20,20 seconds,low steaking fireball,10/11/2005,30.7436,-98.055278,20.0,2018-03-25
80204,9/9/2005 21:00,sault ste. marie (canada),on,NaN,other,10,5 to 10 seconds,I witnessed a low-flying&#44 flat and round&#4...,10/11/2005,46.5219,-84.346090,10.0,2018-03-25
80203,9/9/2005 21:00,montreal (canada),qc,ca,formation,30,30 sec,looking at the stars&#44 and at that veru mome...,10/11/2005,45.5,-73.583333,30.0,2018-03-25
80205,9/9/2005 21:30,gold canyon,az,NaN,unknown,10,one hour or so,Amber lights hovering over Apache Junction&#44...,10/11/2005,33.3593,-111.450030,10.0,2018-03-25
80206,9/9/2005 22:00,markham (canada),on,ca,disk,7200,2 hours,Seven of us were sitting in a backyard sociali...,10/11/2005,43.8667,-79.266667,7200.0,2018-03-25

In [72]:
gl = ufos[ufos['city'].str.contains("green lake", na=False)] 
gl

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,duration,date
6739,10/6/2008 19:45,green lake,wi,us,light,300,5 minutes,Bright orange lights falling straight down fro...,10/31/2008,43.8441667,-88.96,300.0,2018-03-25
20714,12/26/2004 20:00,green lake,wi,us,light,37800,at least 1 1/2 hrs,Very bright object low in the evening sky that...,1/11/2005,43.8441667,-88.96,37800.0,2018-03-25
25343,1/8/2014 17:30,green lake,wi,us,unknown,37800,1 1/2 hours+,3 fading orange lights and small&#44 white&#44...,1/16/2014,43.8441667,-88.96,37800.0,2018-03-25
44176,5/24/2010 09:15,green lake,wi,us,NaN,1800,still going on&#44 30 min an,At present&#44 there has been a light in the s...,6/3/2010,43.8441667,-88.96,1800.0,2018-03-25
67164,8/17/2001 22:10,green lake,wi,us,light,60,about a min.,So for this intense light&#44being thesize of ...,10/12/2001,43.8442,-88.96,60.0,2018-03-25

In [84]:
ufos['datetime'].tail()

80327    9/9/2013 21:15
80328    9/9/2013 22:00
80329    9/9/2013 22:00
80330    9/9/2013 22:20
80331    9/9/2013 23:00
Name: datetime, dtype: object

------------------------------------------------------------

El avistaje mas largo ocurrido en enero del 2005

In [ ]:
ufos['date'] = pd.to_datetime(ufos['datetime'], errors='coerce').dt.date

In [100]:
january2005 = ufos[(ufos['date'] >= datetime.date(2005, 1, 1))&((ufos['date'] <= datetime.date(2005, 1, 31)))]
january2005.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,duration,date
7495,1/10/2005 05:15,murfreesboro,tn,us,disk,20,20 seconds,At first we thought it was lighting&#44 when 4...,1/19/2005,35.8455556,-86.390278,20.0,2005-01-10
7496,1/10/2005 06:30,shavat (uzbekistan),NaN,NaN,light,30,about 30 seconds,I spotted a green light speeding in all direct...,11/28/2007,41.65,60.300000,30.0,2005-01-10
7497,1/10/2005 10:15,savannah,ga,us,sphere,15,15 seconds,This white dot was moving across the sky from ...,2/8/2005,32.0833333,-81.100000,15.0,2005-01-10
7498,1/10/2005 17:24,denver (i-25&#44 southbound),co,us,NaN,30,20-30 sec.,Solo driver witnesses oblong&#44 rectangular o...,9/2/2005,39.7391667,-104.984167,30.0,2005-01-10
7499,1/10/2005 18:00,lincoln city,or,us,light,180,3 minutes,Bright light over ocean that was later joined ...,1/11/2005,44.9583333,-124.016667,180.0,2005-01-10

In [101]:
january2005.sort_values('duration', ascending=False)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,duration,date
14876,1/15/2005 12:00,baker city,or,us,other,86400,everyday,Lessons learned,1/19/2005,44.7750000,-117.833333,86400.0,2005-01-15
11029,1/1/2005 03:00,ocean shores,wa,us,flash,14400,4hrs,thier were ligth flashing &#44moving in all di...,1/11/2005,46.9738889,-124.155000,14400.0,2005-01-01
14883,1/15/2005 19:30,ocala (n and s of),fl,us,triangle,12600,3.5 hours,Multiple types of objects in night sky of cent...,1/19/2005,29.1869444,-82.140278,12600.0,2005-01-15
16414,1/19/2005 18:30,jacksonville,fl,us,sphere,7200,2 hours,These are accounts of several personal UFO and...,5/15/2006,30.3319444,-81.655833,7200.0,2005-01-19
14872,1/15/2005 03:20,atlanta,tx,us,other,7200,2 hours,STRANGE LIGHTNING,2/8/2005,33.1136111,-94.164167,7200.0,2005-01-15
19641,1/22/2005 20:00,cedar city,ut,us,other,7200,2 hours,3 of us photographed multiple red&#44 blue&#4...,5/13/2012,37.6775000,-113.061111,7200.0,2005-01-22
14037,1/13/2005 07:20,plymouth (uk/england),NaN,gb,circle,6300,1hour 45 mins,4large orbs and 2 small spent 1hour 45 minutes...,1/19/2005,50.396389,-4.138611,6300.0,2005-01-13
24868,1/6/2005 17:00,houston,tx,us,other,5400,90 minutes,A Comet or plane like object &amp; twin tail (...,2/14/2006,29.7630556,-95.363056,5400.0,2005-01-06
22598,1/25/2005 10:00,belize (during cruise),NaN,NaN,unknown,3600,1 hour,on jan 25 2005 about ten at night we noticed b...,2/8/2005,17.189877,-88.497650,3600.0,2005-01-25
12011,1/12/2005 21:00,sidcup (uk/england),NaN,gb,cross,3600,more than 1 hour,UFOS OVER SIDCUP&#44 KENT&#44 UK.,1/19/2005,51.416667,0.116667,3600.0,2005-01-12
14416,1/14/2005 20:15,lexington,ky,us,unknown,3600,appr. 1 hour,It was brighter than a star&#44 but slower tha...,1/19/2005,37.9886111,-84.477778,3600.0,2005-01-14
21945,1/23/2005 12:00,chicago,il,us,other,2700,45 minutes,I saw something strange in the sky today. I w...,1/27/2005,41.8500000,-87.650000,2700.0,2005-01-23
16725,1/20/2005 02:30,mountain ranch,ca,us,triangle,2700,45 minutes,Triangular object w/o the bottom. Red then Gr...,1/27/2005,38.2283333,-120.539722,2700.0,2005-01-20
14055,1/13/2005 21:00,fairbanks,ak,us,other,2700,45 minutes,My UFO Sighting: CE II,10/8/2007,64.8377778,-147.716389,2700.0,2005-01-13
14062,1/13/2005 23:00,carlsbad,ca,us,light,2700,45 min,two hazy lights circling in the sky&#44 joinin...,1/19/2005,33.1580556,-117.349722,2700.0,2005-01-13
11985,1/12/2005 01:45,college city,ca,us,disk,2700,about an 45 mins,About 5.5 hours total (between two sightings) ...,1/19/2005,39.0058333,-122.008333,2700.0,2005-01-12
14050,1/13/2005 20:00,fairbanks,ak,us,other,2700,45 minutes,Girded Structured UFO with many lights spends ...,7/16/2006,64.8377778,-147.716389,2700.0,2005-01-13
19105,1/2/2005 03:40,seattle,wa,us,light,2700,45 minutes,Two objects with pulsating lights in Seattle o...,1/11/2005,47.6063889,-122.330833,2700.0,2005-01-02
19636,1/22/2005 19:00,cartersville,ga,us,circle,2400,40 minutes,IT WAS A CLOUDY NIGHT WHEN 7 PEOPLE SAW SEVERA...,1/27/2005,34.1650000,-84.800000,2400.0,2005-01-22
23221,1/27/2005 20:00,state college,pa,us,diamond,2400,40 min.,6 Diamond shaped crafts with lights that flash...,2/8/2005,40.7933333,-77.860278,2400.0,2005-01-27
7506,1/10/2005 22:06,scottsdale,az,us,changing,2100,35 minutes,Pulsating twinkling light in the sky over the ...,1/11/2005,33.5091667,-111.898333,2100.0,2005-01-10
25405,1/9/2005 18:45,san jose villanueva (el salvador),NaN,NaN,circle,1800,30 min,a lot of ufo&quot;s folowing each other,1/11/2005,13.559959,-89.260975,1800.0,2005-01-09
15660,1/17/2005 18:39,olathe,ks,us,light,1800,30 minutes,I observed an object with red&#44 blue and whi...,1/19/2005,38.8813889,-94.818889,1800.0,2005-01-17
16424,1/19/2005 23:00,ocala,fl,us,changing,1800,30 mins,Four balls of white light dance in Ocala night...,7/5/2005,29.1869444,-82.140278,1800.0,2005-01-19
23530,1/28/2005 21:00,mesa,az,us,triangle,1800,30 minutes,red lights over mesa arizona,2/8/2005,33.4222222,-111.821944,1800.0,2005-01-28
22931,1/26/2005 21:00,saybrook,oh,us,rectangle,1800,30 minutes,Rectangular Cloud?,2/8/2005,41.8275000,-80.871944,1800.0,2005-01-26
23527,1/28/2005 20:00,mesa,az,us,triangle,1800,30 min,3 red triangle lights over mesa arizona moving...,2/8/2005,33.4222222,-111.821944,1800.0,2005-01-28
14891,1/15/2005 22:00,phoenix,az,us,fireball,1500,20-25 min,Bright orange light&#44 almost like a fireball...,1/19/2005,33.4483333,-112.073333,1500.0,2005-01-15
11021,1/1/2005 00:00,north hollywood,ca,us,formation,1260,21 minutes,I witnessed a UFO dogfight. ((NUFORC Note: P...,2/8/2005,34.1722222,-118.378056,1260.0,2005-01-01
12004,1/12/2005 19:05,lancaster,ca,us,triangle,1200,20 minutes,Triangular craft flies over highway... low alt...,1/19/2005,34.6980556,-118.135833,1200.0,2005-01-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14047,1/13/2005 19:00,gleneden beach,or,us,flash,6,6 seconds,a bright orange light/flash intermittent at 11...,1/19/2005,44.8813889,-124.033056,6.0,2005-01-13
11023,1/1/2005 00:05,las vegas,nv,us,oval,5,5 seconds,I had never seen such speed of an object up on...,1/11/2005,36.1750000,-115.136389,5.0,2005-01-01
25237,1/8/2005 23:53,dallas,tx,us,circle,5,4-5 seconds,UFO seen over north Dallas,1/11/2005,32.7833333,-96.800000,5.0,2005-01-08
7504,1/10/2005 21:30,marathon,fl,us,light,5,5 seconds,Set of four frosty lights that revolved very f...,8/27/2009,24.7133333,-81.090556,5.0,2005-01-10
25404,1/9/2005 18:45,ashville,oh,us,formation,5,5 seconds,A stunning display of 6 objects&#44incredibly ...,1/11/2005,39.7155556,-82.953056,5.0,2005-01-09
23829,1/29/2005 19:05,orangevale,ca,us,triangle,5,3-5 seconds,Vee shaped red/orange lights moving east to we...,2/8/2005,38.6786111,-121.224722,5.0,2005-01-29
14064,1/13/2005 23:30,bullet county (i-65),ky,NaN,light,5,5 seconds,Light and cellular disruption.,5/11/2005,37.180415,-82.921810,5.0,2005-01-13
19631,1/22/2005 09:16,rancho cucamonga,ca,us,formation,5,5 seconds,Four shiny disc shaped objects flying in forma...,1/27/2005,34.1063889,-117.592222,5.0,2005-01-22
15285,1/16/2005 01:00,san antonio,tx,us,light,5,5 seconds,Two sets of falling object fell over the north...,1/19/2005,29.4238889,-98.493333,5.0,2005-01-16
15287,1/16/2005 08:00,howell,mi,us,flash,5,5 sec,blinding flash,2/8/2005,42.6072222,-83.929444,5.0,2005-01-16
14896,1/15/2005 23:00,caboolture (australia),NaN,au,light,5,5 seconds,A bright light flying very fast across the nig...,1/19/2005,-27.08465,152.951096,5.0,2005-01-15
12016,1/12/2005 22:47,belleville,il,us,other,4,about 4 seconds,Odd looking thing in the sky.,1/19/2005,38.5200000,-89.983889,4.0,2005-01-12
12008,1/12/2005 20:01,thousand oaks,ca,us,formation,4,4 seconds,Three high speed orange lights in a long narro...,1/19/2005,34.1705556,-118.836667,4.0,2005-01-12
7505,1/10/2005 22:00,la jolla,ca,us,light,4,3-4sec,UFO Sighting in Southern California I live th...,12/12/2011,32.8472222,-117.273333,4.0,2005-01-10
14900,1/15/2005 23:30,kildeer,il,us,unknown,3,2-3 seconds,Electro camoflage military?,6/20/2005,42.1705556,-88.047778,3.0,2005-01-15
22605,1/25/2005 18:25,great falls (14 miles north of),mt,us,fireball,2,two seconds,falling star that exploded into green sparks,1/27/2005,47.5002778,-111.300000,2.0,2005-01-25
22595,1/25/2005 06:32,new carrollton,md,us,light,2,2 seconds,Observed burst of bluish light at cloud level ...,1/27/2005,38.9697222,-76.880278,2.0,2005-01-25
22262,1/24/2005 22:50,san antonio,tx,us,light,2,2 seconds,Large green light dropping over San Antonio,1/27/2005,29.4238889,-98.493333,2.0,2005-01-24
22261,1/24/2005 22:45,wimberley,tx,us,light,2,2sec.,Bright greenish blue light dropping down(south...,2/8/2005,29.9972222,-98.098333,2.0,2005-01-24
25066,1/7/2005 22:30,richmond,va,us,fireball,2,<2 seconds,A light outside Richmond&#44 Virginia.,1/11/2005,37.5536111,-77.460556,2.0,2005-01-07
16423,1/19/2005 22:00,walton,ny,us,disk,2,2 seconds,Saucer shaped craft with green lights flies ac...,2/22/2005,42.1694444,-75.129722,2.0,2005-01-19
24516,1/4/2005 17:45,calabasas,ca,us,light,2,2 seconds,Lights in Calabasas&#44 California,1/11/2005,34.1577778,-118.637500,2.0,2005-01-04
24517,1/4/2005 18:30,sammamish,wa,us,fireball,2,2 seconds,Bright ball of light falling from the ski in S...,1/19/2005,47.6419444,-122.079167,2.0,2005-01-04
25406,1/9/2005 23:45,orinda,ca,us,fireball,2,2 seconds,a fireball that moved very quickly in a straig...,1/11/2005,37.8772222,-122.178611,2.0,2005-01-09
22256,1/24/2005 15:42,maui,hi,NaN,fireball,1,1 second,Bright spherical object seen on north side of ...,2/8/2005,20.798363,-156.331925,1.0,2005-01-24
19106,1/2/2005 06:30,fortuna,ca,us,light,1,1 second,A bright green light streeked from the sky dow...,5/11/2005,40.5983333,-124.156111,1.0,2005-01-02
11031,1/1/2005 06:51,monterrey (mexico),NaN,NaN,egg,1,less than 1 second,i was just taking pictures of night view with ...,1/11/2005,25.686614,-100.316113,1.0,2005-01-01
25401,1/9/2005 03:00,worcester,ma,us,egg,1,1 second,Eggs in the sky,1/11/2005,42.2625000,-71.802778,1.0,2005-01-09
23517,1/28/2005 07:30,waianae,hi,us,triangle,1,1sec,Hi&#44 when i did take the photograph from my ...,5/11/2005,21.4447222,-158.190000,1.0,2005-01-28
7502,1/10/2005 19:18,barryton,mi,us,circle,0.5,1/2 second,1 white light with a red 1 following it. it la...,1/19/2005,43.7525000,-85.146944,0.5,2005-01-10

Las Vegas, NV tiene un registro que aparece en el Top10 de avistajes con mayor duración en segundos para el mes de Marzo 2004

In [99]:
# prueba = pd.to_datetime(ufos['datetime'], format='%d/%m/%Y %H%M', errors='raise')

# ufos[(ufos['date'] >= '2004-05-01')&((ufos['date'] <= '2004-05-30'))]
# type(ufos['date'][0])
import datetime
march2004 = ufos[(ufos['date'] >= datetime.date(2004, 3, 1))&((ufos['date'] <= datetime.date(2004, 3, 31)))]
march2004.sort_values('duration', ascending=False)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,duration,date
31319,3/14/2004 19:00,las vegas,nv,us,light,345600,of and on 4 days,If anyone around us has a chance&#44 this is h...,3/23/2004,36.1750000,-115.136389,345600.0,2004-03-14
34776,3/5/2004 02:00,springer (nm)/colorado city (co),co,NaN,disk,73800,2 1/2 hrs,Large craft with blue lights followed me,4/27/2004,40.581761,-104.983766,73800.0,2004-03-05
32704,3/21/2004 21:00,woodward,ok,us,other,14400,4 hours,Star looking object moving in zig zagging shap...,3/23/2004,36.4336111,-99.390000,14400.0,2004-03-21
30886,3/12/2004 18:00,rockwell city,ia,us,light,14400,4 hours,Cluster of lights in the sky,3/23/2004,42.3952778,-94.633611,14400.0,2004-03-12
33728,3/27/2004 20:30,rigaud (canada),qc,ca,light,14400,4 hours,Il &eacute;rait environ 8 heures lorsque nous ...,3/29/2004,45.466667,-74.300000,14400.0,2004-03-27
35487,3/9/2004 19:00,shelby,oh,us,light,10800,3 hours,Bright white changed to yellow-orange light mo...,3/17/2004,40.8813889,-82.661944,10800.0,2004-03-09
30235,3/10/2004 09:00,baltimore,md,us,unknown,10800,3hours,V shaped slow moving star like,3/17/2004,39.2902778,-76.612500,10800.0,2004-03-10
32041,3/17/2004 22:00,san diego,ca,us,circle,10800,2-3 hours,the object jeted across the sky like a shootin...,9/2/2005,32.7152778,-117.156389,10800.0,2004-03-17
33870,3/28/2004 19:00,north vernon,in,us,circle,10800,3 hours,Round shape with a dip in the top and bottom,3/29/2004,39.0061111,-85.623611,10800.0,2004-03-28
31659,3/15/2004 20:00,adelaide (south australia),NaN,au,formation,10800,1-3 hrs,ive got three different cases to report.The fi...,5/15/2006,-34.928661,138.598633,10800.0,2004-03-15
34969,3/6/2004 23:00,hertfordshire (uk/england),NaN,gb,triangle,7200,2 hours,Faster than Mach 5&#44 made barely any noise&#...,2/8/2005,51.833333,-0.250000,7200.0,2004-03-06
34644,3/4/2004 16:30,denver,co,us,changing,7200,2 hours,flew in circles&#44 changed shape&#44 landed s...,6/18/2004,39.7391667,-104.984167,7200.0,2004-03-04
32521,3/20/2004 20:00,live oak,ca,us,triangle,7200,2 hours,Hovered with bright lights over the house for ...,3/23/2004,39.2758333,-121.658889,7200.0,2004-03-20
35484,3/9/2004 17:45,seattle,wa,us,other,7200,2 hours,A cluster of bright pulsing lights over down...,3/17/2004,47.6063889,-122.330833,7200.0,2004-03-09
34332,3/31/2004 03:00,idaho springs,co,us,circle,7200,2 hours,Three circular lights appearing as big as the...,4/9/2004,39.7425000,-105.513056,7200.0,2004-03-31
35491,3/9/2004 20:00,tom,ok,us,oval,6300,1 hour 45min.,It bobbed from side to side and up and down in...,3/17/2004,33.7358333,-94.572778,6300.0,2004-03-09
35163,3/7/2004 19:00,london (uk/england),NaN,gb,other,5400,90 mins,Brillently lite Trident shaped object hung in ...,3/9/2004,51.514125,-0.093689,5400.0,2004-03-07
35490,3/9/2004 20:00,otego,ny,us,sphere,3600,1 hour,Exceptionally bright obj. noted in the W sky a...,3/17/2004,42.3972222,-75.173889,3600.0,2004-03-09
32343,3/19/2004 20:50,st-r&eacute;mi (canada),qc,NaN,sphere,3600,almost 1 hour,This object was immobile and looks like to wat...,3/23/2004,45.261499,-73.615863,3600.0,2004-03-19
30884,3/12/2004 10:00,bryson hesperia,ca,NaN,unknown,3600,1 hour,Very Bright lights illuminating entire horizon...,5/24/2005,35.821782,-121.066505,3600.0,2004-03-12
35320,3/8/2004 21:00,stevenson,wa,us,circle,3600,1 hour +,Colorful sunburst shaped object sends streaks ...,3/9/2004,45.6958333,-121.883333,3600.0,2004-03-08
33875,3/28/2004 20:00,bradenton,fl,us,circle,3600,over an hour,Round and glowing,8/5/2012,27.4986111,-82.575000,3600.0,2004-03-28
31321,3/14/2004 20:30,little rock,ar,us,unknown,3600,1 hour,Large intensely bright object low in shy some ...,3/17/2004,34.7463889,-92.289444,3600.0,2004-03-14
31128,3/13/2004 00:23,wishart (canada),sk,ca,disk,3600,1 hour,there was a big saucer shaped object that was ...,5/24/2005,51.55,-103.966667,3600.0,2004-03-13
33726,3/27/2004 18:23,plains,mt,us,disk,2820,47 minutes,On March 27 6:23 P.M. me and jumbo saw two ova...,3/29/2004,47.4602778,-114.881944,2820.0,2004-03-27
34782,3/5/2004 22:00,tracy,ca,us,triangle,2700,45 mins,a transparent looking triangle shaped craft fl...,5/4/2004,37.7397222,-121.424167,2700.0,2004-03-05
32702,3/21/2004 20:30,carmichaels,pa,us,light,2700,appx. 45 mins.,Refer. to the report from Carmichaels&#44 Pa. ...,4/9/2004,39.8966667,-79.974722,2700.0,2004-03-21
32042,3/17/2004 22:22,fort lauderdale,fl,us,sphere,2700,45 minutes,Feel crazy&#44 but true,10/27/2004,26.1219444,-80.143611,2700.0,2004-03-17
30237,3/10/2004 18:00,los banos,ca,us,disk,2700,45 min,Sitting stationary the pulsating lights looke...,3/23/2004,37.0583333,-120.848889,2700.0,2004-03-10
30238,3/10/2004 19:00,neah bay (50 miles off the coast of),wa,us,disk,2700,half hour,fishing vessels observe disc shaped object wit...,3/17/2004,48.3683333,-124.623611,2700.0,2004-03-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33438,3/25/2004 15:15,avondale,az,us,light,5,5 seconds,A bright light &#44 on a sunny day&#44 suddenl...,3/28/2004,33.4355556,-112.348889,5.0,2004-03-25
33436,3/25/2004 04:45,coaldale,co,us,sphere,5,5 seconds,Second orange sphere seen by family member,4/9/2004,38.3655556,-105.757222,5.0,2004-03-25
33871,3/28/2004 19:25,hayward,ca,us,triangle,5,5 seconds,standing outside staring at the moon&#44 i not...,3/29/2004,37.6688889,-122.079722,5.0,2004-03-28
33297,3/24/2004 19:00,russia,oh,us,fireball,5,5 seconds,orangish fireball,3/28/2004,40.2344444,-84.409444,5.0,2004-03-24
33294,3/24/2004 02:00,moorpark,ca,us,light,5,5 seconds,At night&#44looking out window. All of a sudd...,3/28/2004,34.2855556,-118.881111,5.0,2004-03-24
30889,3/12/2004 21:20,san diego,ca,us,cigar,5,5 sec,witnessed small oblong object with red and blu...,6/18/2004,32.7152778,-117.156389,5.0,2004-03-12
33157,3/23/2004 20:00,russia,oh,us,fireball,5,5 seconds,Driving down St. Rt. 48 and saw an orangish/re...,3/28/2004,40.2344444,-84.409444,5.0,2004-03-23
31657,3/15/2004 19:44,harrisville,ri,us,light,5,5 seconds,light shoots straight arcross sky in about 5 s...,3/17/2004,41.9655556,-71.675000,5.0,2004-03-15
35485,3/9/2004 18:10,mississauga (canada),on,ca,fireball,4,four seconds,Orange type fire object&#44 heading towards th...,3/17/2004,43.15,-79.500000,4.0,2004-03-09
35322,3/8/2004 23:20,arluno (milano),NaN,NaN,oval,4,3-4 seconds,A big oval light is moving in diagonal&#44 sud...,3/17/2004,45.505687,8.941011,4.0,2004-03-08
31132,3/13/2004 09:50,san jose,ca,us,unknown,3,3 seconds,Unusual Green/Blue light dropping from the sky...,3/17/2004,37.3394444,-121.893889,3.0,2004-03-13
34012,3/29/2004 20:45,edmonton (canada),ab,ca,formation,3,2-3 seconds,tight faint formation directly over Edmonton&#...,4/9/2004,53.55,-113.500000,3.0,2004-03-29
32349,3/19/2004 23:15,cheyenne,wy,us,other,3,2-3 seconds,Green Streaking Object,3/23/2004,41.1400000,-104.819722,3.0,2004-03-19
32698,3/21/2004 19:37,ottawa (canada),on,ca,fireball,3,3 seconds,HBCCUFO CANADIAN REPORT: Fireball Sighting,3/23/2004,45.416667,-75.700000,3.0,2004-03-21
34167,3/30/2004 00:32,burbank,ca,us,unknown,3,3 seconds,Ghostly enormous lights of soft color with a f...,4/9/2004,34.1808333,-118.308056,3.0,2004-03-30
33008,3/22/2004 23:00,motherwell (n. lanarkshire co.) (uk/scotland),NaN,gb,cylinder,3,3 seconds,I was sitting watching television&#44 the wind...,3/28/2004,55.783333,-4.000000,3.0,2004-03-22
33005,3/22/2004 20:30,salida,co,us,sphere,3,3 seconds,Dull orange sphere above house,4/9/2004,38.5347222,-105.998333,3.0,2004-03-22
34649,3/4/2004 20:42,san francisco,ca,us,fireball,3,3 seconds,Green fireball over San Francisco,3/23/2004,37.7750000,-122.418333,3.0,2004-03-04
33443,3/25/2004 19:30,chimacum,wa,us,fireball,3,2-3 sec,Blue fireballs travelling N-S approx 400mph&#4...,3/28/2004,48.0111111,-122.767500,3.0,2004-03-25
32347,3/19/2004 22:30,victoria (canada),bc,ca,cigar,3,3 seconds,long cigar shaped bright green object flying ...,3/23/2004,46.216667,-63.483333,3.0,2004-03-19
31855,3/16/2004 22:10,san luis obispo,ca,us,flash,3,3 seconds,3 lights flash less than seconds apart in a ro...,3/17/2004,35.2827778,-120.658611,3.0,2004-03-16
32516,3/20/2004 00:15,ainsworth,ne,us,light,3,2-3 seconds,Bright blue light covered sky on clear night w...,3/23/2004,42.5500000,-99.862222,3.0,2004-03-20
34783,3/5/2004 22:30,gold coast (australia),NaN,au,light,3,3 seconds,It was a very stormy night with alot of rain. ...,5/15/2006,-28.00029,153.430878,3.0,2004-03-05
32697,3/21/2004 19:37,ottawa (canada),on,ca,fireball,3,3 seconds,Blue Green FireBall Flying close to the Otta...,3/23/2004,45.416667,-75.700000,3.0,2004-03-21
32699,3/21/2004 20:00,onion lake (canada),sk,ca,fireball,2,seconds,HBCCUFO CANADIAN REPORT: Blue turned yellow o...,3/23/2004,53.716667,-110.000000,2.0,2004-03-21
33003,3/22/2004 19:00,santa cruz,ca,us,triangle,2,2 seconds,Triangle Dim Lights&#44 Silent&#44 See-Through...,3/28/2004,36.9741667,-122.029722,2.0,2004-03-22
32031,3/17/2004 14:00,bend,or,us,circle,2,a few seconds,A round metallic object seen momentarily in th...,3/28/2004,44.0583333,-121.314167,2.0,2004-03-17
33731,3/27/2004 22:25,aachen (near cologne) (germany),NaN,de,other,2,1-2 seconds,Fast moving neon-green orb of light with a gre...,3/28/2004,50.770833,6.105278,2.0,2004-03-27
33727,3/27/2004 18:30,canandaigua,ny,us,disk,2,2 seconds,object acending in the sky,3/29/2004,42.8741667,-77.288333,2.0,2004-03-27
34491,3/3/2004 21:47,healdsburg,ca,us,other,1,fraction of second,At 9:47 p.m.m PST&#44 I was walking close to d...,3/9/2004,38.6105556,-122.868056,1.0,2004-03-03

Existen 2184 registros de avistajes en Estados Unidos durante el año 2000.

In [142]:
usa2000 = ufos[(ufos['date'] >= datetime.date(2000, 1, 1))&((ufos['date'] <= datetime.date(2000, 12, 31)))]
usa2000.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,duration,date
93,10/10/2000 03:00,perryville,mo,us,oval,180,3 minutes,The craft was big&#44 orange&#44 and oval shaped.,12/2/2000,37.7241667,-89.861111,180.0,2000-10-10
94,10/10/2000 06:15,boynton beach,fl,us,other,10,10 seconds,Unusual light formation moving extremely fast ...,12/2/2000,26.5250000,-80.066667,10.0,2000-10-10
95,10/10/2000 07:30,victoria (canada),bc,ca,cylinder,30,30seconds,Smooth Shiny Cylinder,12/2/2000,46.216667,-63.483333,30.0,2000-10-10
96,10/10/2000 16:00,jueanu,wi,NaN,triangle,45,45 seconds,5 bight light V shaped,12/2/2000,43.40555,-88.705104,45.0,2000-10-10
97,10/10/2000 20:20,valley park area of st. louis,mo,NaN,oval,15,15 seconds,Driving on Hyw.141 at Hyw. 44 and going East&#...,12/2/2000,38.627003,-90.199404,15.0,2000-10-10

In [143]:
usa2000 = usa2000[usa2000['country'].str.contains('us', na=False)]

In [145]:
usa2000.shape

(2171, 13)

La forma con mayor cantidad de registros en Los Angeles, CA es la forma de triangulo

In [146]:
la_ca = ufos[(ufos['city'].str.contains('ngeles', na=False))&(ufos['state'].str.contains('ca', na=False))]

In [147]:
la_ca.groupby('shape').size().sort_values(ascending=False)

shape
light        79
circle       43
triangle     39
disk         35
fireball     34
sphere       32
unknown      31
other        26
oval         21
cigar        17
changing     15
formation    12
chevron       7
rectangle     6
flash         5
egg           5
diamond       5
teardrop      5
cone          3
cylinder      1
cross         1
dtype: int64

## Student Alcohol Consumption

In [82]:
students = pd.read_csv('/Users/ignacio.iglesias/Dev/datos/gradience/Análisis Exploratorio y Visu/student-alcohol-consumption/student-por.csv')
students.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [109]:
students2 = pd.read_csv('/Users/ignacio.iglesias/Dev/datos/gradience/Análisis Exploratorio y Visu/student-alcohol-consumption/student-mat.csv')
students2.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

Los alumnos de familias mas numerosas registran un menor consumo de alcohol

In [127]:
students2.shape

(395, 33)

In [107]:
for name in students.columns.values:
    print(name)

school
sex
age
address
famsize
Pstatus
Medu
Fedu
Mjob
Fjob
reason
guardian
traveltime
studytime
failures
schoolsup
famsup
paid
activities
nursery
higher
internet
romantic
famrel
freetime
goout
Dalc
Walc
health
absences
G1
G2
G3

In [119]:
students.shape

(1044, 33)

In [118]:
students = students.append(students2, verify_integrity=False)

In [122]:
# students[students['famsize'].str.contains('GT3', na=False)].sort_values(['Dalc', 'Walc'], ascending=False)
students.groupby('famsize').size().sort_values(ascending=False)

famsize
GT3    738
LE3    306
dtype: int64

In [124]:
#()[['Dalc', 'Walc']].mean().sort_values(ascending=False)
famsize_group = students.groupby('famsize')

In [126]:
famsize_group['Dalc', 'Walc'].mean()

             Dalc      Walc
famsize
GT3      1.449864  2.210027
LE3      1.601307  2.464052

El nivel de educación de los padres en áreas urbanas, es en promedio mas alto que el de los que residen en áreas rurales.

In [129]:
address_group = students.groupby('address')

In [130]:
address_group['Medu', 'Fedu'].mean()

             Medu      Fedu
address
R        2.273684  2.164912
U        2.727273  2.471673

Aquellos alumnos que cuentan con acceso a internet en sus hogares poseen en promedio mejor calificación que el resto

In [132]:
internet_group = students.groupby('internet')

In [133]:
internet_group['G1', 'G2', 'G3'].mean()

                 G1         G2         G3
internet
no        10.603687  10.460829  10.534562
yes       11.373640  11.452237  11.553809

Los alumnos cuyas madres están en la casa tienen mejor desempeño en Matemática que resto de los alumnos

In [134]:
momAtHome_group = students2.groupby('Mjob')

In [135]:
momAtHome_group['G1', 'G2', 'G3'].mean()

                 G1         G2         G3
Mjob
at_home   10.457627   9.677966   9.152542
health    12.205882  12.352941  12.147059
other     10.177305  10.177305   9.822695
services  11.388350  11.213592  11.019417
teacher   11.534483  11.224138  11.051724

Los alumnos cuyos padres y madres trabajan en igual área (por ejemplo ambos trabajan en educación) tienen mejor promedio de calificaciones que aquellos cuyo padres trabajan en áreas distintas (por ej la madre trabaja en servicios y el padre en salud)

In [137]:
students['sameJob'] = students['Mjob'] == students['Fjob']

In [138]:
sameJob_group = students.groupby('sameJob')

In [139]:
sameJob_group['G1', 'G2', 'G3'].mean()

                G1         G2         G3
sameJob
False    11.163543  11.185690  11.265758
True     11.277899  11.323851  11.439825

El contar con apoyo escolar adicional influye positivamente en las calificaciones

In [148]:
support_group = students.groupby('schoolsup')

In [149]:
support_group['G1', 'G2', 'G3'].mean()

                 G1         G2         G3
schoolsup
no         11.36000  11.350270  11.451892
yes        10.07563  10.436975  10.487395

El nivel de educación de los padres que viven juntos es levemente superior al de aquellos que viven separados.

In [150]:
pstatus = students.groupby('Pstatus')

In [151]:
pstatus['Medu', 'Fedu'].mean()

             Medu      Fedu
Pstatus
A        2.842975  2.537190
T        2.572048  2.368364

Los alumnos que eligieron el establecimiento en base a su reputación tienen mejor promedio de notas que los que concurren al mismo por cercanía a su domicilio

In [152]:
reason_group = students.groupby('reason')

In [153]:
reason_group['G1', 'G2', 'G3'].mean()

                   G1         G2         G3
reason
course      10.853488  10.818605  10.965116
home        11.302326  11.344961  11.368217
other       10.740741  10.925926  10.851852
reputation  11.951613  12.024194  12.181452